
/* ------------------------------- VARIAVEIS CSS -------------------------- */

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

:root {
    --primary-color: #C92071;
    --secondary-color: #B5B6F2;
    --tertiary-color: #991956;
    --error-color: #EE4266;
    --success-color: #52CA76;
    --warning-color: #F6AA1C;
    --white-color: #FFFFFF;
    --hug-color: #E7FF86;
    --background-color: #F9F8FE;

    ;

    /* Grayscale */
    --dark-gray: #1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;

    /* Fontes base */
    --fonte-inter: 'Inter', sans-serif;


}

* {
    font-family: var(--fonte-inter);
    margin: 0;
}



/*----------------------------------- HEADER --------------------------------------*/

.header-superior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px 20px;
}

.logo {
    width: 15%;
    height: 15%;
}

.title-header {
    color: var(--primary-color);
}

.input-busca {
    border-radius: 8px;
    width: 40%;
    height: 60px;
    margin-left: 40px;
    background-color: var(--light-gray-3);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    border-style: none;
    padding: 0 16px;
}

.link-cadastro {
    color: var(--dark-gray-2);
}

.botao-entrar {
    background-color: var(--primary-color);
    color: var(--light-gray-3);
    font-family: var(--fonte-inter);
    border-radius: 10px;
    padding: 1em 2em 1em;
    border-color: var(--primary-color);
    font-weight: 700;
}

.bar {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 1em;
    margin: 3em;
    justify-content: flex-start;
    text-align: center;
    color: var(--dark-gray-2);
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.70px;
    text-align: center;
    display: flex;
    align-items: center;
}

.bar li {
    margin: 0 15px;
    position: relative;
    color: var(--dark-gray-2);
    transition: color 0.3s ease;
    cursor: default;
}

.bar li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    height: 2px;
    background-color: var(--primary-color);
    width: 0%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.bar li:hover {
    color: var(--primary-color);
}
  
.bar li:hover::after {
    width: 50%;
}




/*--------------------------------- LAYOUT CARROSSEL ------------------------------*/


.layout-container {
    position: absolute;
    top: 7em;
    left: 100px; 
    width:32em; 
    height: 25em; 
    z-index: 10; 
    border-radius: 8px; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    overflow: auto;
  }
  
.layout-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
}
  
.highlight-text {
    color: var(--warning-color);
    font-weight: 700;
    font-size: 1em;
}
  
 .title-layout {
    font-weight: 800;
    font-size: 3em;
}
  
.description-text {
    color: var(--dark-gray-2);
    margin: 10px 0 20px 0;
    font-weight: 400;
    line-height: 2.1em;
    font-size: 1.2em;
}
  
.offer-button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.layout-carousel {
    flex: 1;
    position: absolute; 
    top: 0;  
    width: 100%; 
    height: 100%; 
    z-index: 1;
}

.box-carrossel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--light-gray-3);
} 
  
.carousel {
    width: 65%;
    height: 65%;
    left: 10em;
  }

/* ----------------------------COLEÇÕES EM DESTAQUE 1--------------------------- */

.colecoes-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--background-color);
    padding: 4em;
    gap: 1.5em;
}

.colecoes-titulo {
    font-weight: 700;
    font-size: 1.5em;
}

.colecoes-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}


/* ----------------------------COLEÇÕES EM DESTAQUE 2--------------------------- */

.destaques-box {
    background-color: var(--background-color);
    text-align: center;
    padding: 5em;
}

.destaques-titulo {
    font-weight: 700;
    font-size: 1.5em;
}

.destaques-icones {
    display: flex;
    justify-content: center;
    gap: 4em;
}

.destaques-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destaques-icone {
    background-color: var(--white-color);
    border-radius: 50%;
    margin: 0.5em;
    padding: 1em; /* Ajuste o padding para ajustar o tamanho do círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.legenda-icone {
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
    margin-top: 1em;
}


/*---------------------------------- PRODUCT CARD ----------------------------*/

.box-product-card {
    background-color: #F9F8FE;

}

.titulo-product-card {
    display: flex;
    justify-content: space-between;
    margin-left: 4em;
}

.titulo-galeria {
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 1.5em;
    margin-top: 2em;
}

.link-galeria {
    color: var(--primary-color);
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    margin-right: 10em;
    margin-top: 3em;
}

.galeria-produtos {
    display: grid; /* Usa grid para layout */
    grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de tamanho igual */
    padding-left: 5em;
    }


.discount-tag {
    position: absolute;
    background: var(--hug-color);
    color: var(--dark-gray-2);
    font-size: 0.7em;
    font-weight: 700;
    margin: 1.7em;
    padding: 5px 15px; 
    border-radius: 29px;
    opacity: 1; /* Visível */
    z-index: 1; /* Coloca a tag acima do card */
    }

.product-card {
    width: 20em; /* Ajuste a largura conforme necessário */
    text-align: left;
    padding: 1em;
}

.product-image {
    width: 18em; 
    height: 20em; 
    border-radius: 0.5em;
    object-fit: cover; /* Faz com que a imagem se ajuste ao container sem distorcer */
    margin-bottom: 1em;
    background-color: white;
}

.product-tag {
    font-size: 0.75em;
    color: #888;
    margin-bottom: 0.5em;
}

.product-name {
    font-size: 1.25em;
    margin-bottom: 0.5em;
}

.product-price {
    font-size: 1em;
}

.price-old {
    text-decoration: line-through;
    color: #888;
    margin-right: 0.5em;
}

.price-new {
    color: var(--dark-gray);
    font-weight: bold;
}


/*---------------------------------- OFERTA ESPECIAL ----------------------------*/

.oferta-especial-box {
    background-color: var(--white-color);
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 6%; 
    position: relative; /* Necessário para posicionamento absoluto das imagens */
    width: 100%;
    Height: 35em;
}

.oferta-especial-imagens {
    position: relative;
    width: 45%; 
}

.imagem-fundo {
    position: absolute;
    width: 30em; 
    height: auto; 
    left: 5em;
    top: -2em;
}

.imagem-frente {
    position: absolute;
    width: 35em; 
    height: auto; 
    left: 1em;
}

.imagem-frente {
    z-index: 2; /* Garante que a imagem da frente fique sobre a imagem de fundo */
}

.oferta-especial-content {
    width: 50%; 
    padding: 20px; 
    box-sizing: border-box; 
}

.highlight-text-oferta {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 10px;
}

.titulo-oferta-especial {
    margin-bottom: 10px; 
    font-weight: 700;
    font-size: 3em;
    color: var(--dark-gray-2);
}

.texto-oferta-especial {
    margin-bottom: 20px; 
    color: var(--dark-gray-2);
    width: 36em;
    height: 7em;
    line-height: 2em;
    font-weight: 400;
    font-size: 1em;

}

.offer-button {
    color: white; 
    font-size: 0.8em;
    padding: 0.6em 3.75em; 
    border-radius: 5px; 
    cursor: pointer; /* Muda o cursor para uma mão ao passar sobre o botão */
}

/*----------------------------------------- FOOTER -----------------------------------------*/

.footer {
    background-color: var(--dark-gray);
    box-sizing: border-box;
    color: var(--white-color);
    padding: 3%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 80px;
}

.footer-box {
    background-color: var(--dark-gray);
    box-sizing: border-box;
    color: var(--white-color);
    padding: 3%;
}

.footer-secao-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 35%;
    gap: 3em;
}

.footer-secao-1-superior {
    display: flex;
    gap: 0.7em;
    align-items: center;

}

.logo-footer {
    width: 2em;
    height: 2em;
}

.h1-footer {
    font-size: 2.2em;
}

.footer-paragrafo {
    width: 300px;
    height: 78px;
    font-weight: 400;
    line-height: 26px;
}

.h4-footer {
    margin-bottom: 25%;
}

.li-footer {
    list-style: none;
    margin-bottom: 15%; 
}

.footer-secao-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px; 
    align-items: flex-start;
}

.footer-secao-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start; 
}

.footer-secao-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px; 
    align-items: flex-start;
}

.footer-secao-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    
}




/* ------------------------LISTING PAGE------------------------------------- */

.listagem-produtos-box {
    background-color: var(--background-color);
    padding: 5em;
}

.listagem-superior {
    display: flex;
    justify-content: space-between;
}

#botao-ordenar {
    background-color: var(--background-color);
    color: var(--dark-gray-2);
    padding: 1em;
}

.listagem-layout {
    display: flex;
    justify-content: center;
    padding: 4em;
}

.galeria-produtos-listagem {
    display: grid; /* Usa grid para layout */
    grid-template-columns: repeat(3, 1fr); /* Cria 4 colunas de tamanho igual */
    padding-left: 5em;
}

/* ------------------------PRODUCT VIEW PAGE------------------------------------- */

.page-box-produto {
    background-color: var(--background-color);
    padding: 3em;
}

.sequencia-produto {
    margin-left: 5em;
}

.box-produto {
    display: flex;
}

.imagens-produto {
    padding: 4em;
    margin-left: 1em;
    margin-right: 1em;
}

.imagens-mini {
    display: flex;
    margin: 0;
    justify-content: space-between;
    margin-top: 1em;
}

.detalhes-produto {
    margin-top: 2em;
    padding: 2em;
    
}

.titulo-produto-tenis {
    font-weight: 700;
    font-size: 2em;
}

.descricao-produto-tenis {
    font-weight: 500;
    font-size: 0.8em;
}

.preco-produto {
    margin-top: 1.3em;
}

.texto-descricao {
    font-weight: 500;
    font-size: 0.9em;
}

.titulo-texto-descricao {
    font-weight: 700;
}

.tamanhos-produto {
    margin-top: 2em;
}

.numero-tamanho {
    margin: 4px;
    padding: 0.6em;
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--white-color);
}

.numero-tamanho-selecionado {
    margin: 5px;
    padding: 0.6em;
    border-width: 1px;
    border-radius: 4px;
    color: white;
    background-color: var(--primary-color);
}

.cores-produto {
    margin-top: 2em;
}

.botao-cor-1 {
    background-color: #6FEEFF;
    border-style: none;
    border-radius: 50%;
    padding-left: 1em;
    margin-right: 0.8em;
    
}

.botao-cor-2 {
    background-color: #FF6969;
    border-style: none;
    border-radius: 50%;
    padding-left: 1em;
    margin-right: 0.8em;
}

.botao-cor-3 {
    background-color: #5E5E5E;
    border-style: none;
    border-radius: 50%;
    padding-left: 1em;
    margin-right: 0.8em;
}

.botao-cor-4 {
    background-color: #6D70B7;
    border-style: none;
    border-radius: 50%;
    padding-left: 1em;
}

#botao-comprar {
    margin-top: 2em;
    background-color: #FFB31F;
    padding: 1em 5em 1em 5em;
}